*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #aec3b0;
}
h1{
    background-color: #01161e;
    color: #aec3b0;
    height: 7rem;
    /* text-align: center; */
    line-height: 7rem;
    font-size: 3rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #1b263b;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top:3rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    font-size: 2rem;
    background-color: #1b263b;
    color: #efefef;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}